<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <app-popup></app-popup>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="namebook">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.namebook }}</td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="descriptionbook">
              <th mat-header-cell *matHeaderCellDef>Descripción</th>
              <td mat-cell *matCellDef="let element">
                {{ element.descriptionbook }}
              </td>
            </ng-container>

            <!-- Autor Column -->
            <ng-container matColumnDef="authorbook">
              <th mat-header-cell *matHeaderCellDef>Autor</th>
              <td mat-cell *matCellDef="let element">
                {{ element.authorbook }}
              </td>
            </ng-container>

            <!-- Fecha Publicacion Column -->
            <ng-container matColumnDef="datepublishbook">
              <th mat-header-cell *matHeaderCellDef>Fecha Publicación</th>
              <td mat-cell *matCellDef="let element">
                {{ element.datepublishbook | date: "yyyy-MM-dd" }}
              </td>
            </ng-container>

            <!-- number Column -->
            <ng-container matColumnDef="numberbook">
              <th mat-header-cell *matHeaderCellDef>N° Ejemplares</th>
              <td mat-cell *matCellDef="let element">
                {{ element.numberbook }}
              </td>
            </ng-container>

            <!-- Costo Column -->
            <ng-container matColumnDef="pricebook">
              <th mat-header-cell *matHeaderCellDef>Costo</th>
              <td mat-cell *matCellDef="let element">
                {{ element.pricebook }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Accion</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="clickAddTodo(element)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  aria-label="Borrar Elemento"
                  (click)="deletebook(element.id)"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="bookmeta[0].totalItems"
            [pageSize]="bookmeta[0].itemsPerPage"
            [pageSizeOptions]="[5, 10, 20, 50]"
            (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>
