<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <app-popup></app-popup>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="namebook">
              <th
                mat-header-cell
                *matHeaderCellDef
                (click)="filter('namebook')"
              >
                Nombre
                <mat-icon *ngIf="nsort == 'asc'" class="icon-display"
                  >arrow_downward</mat-icon
                >
                <mat-icon *ngIf="nsort == 'desc'" class="icon-display"
                  >arrow_upward</mat-icon
                >
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="width: 15%; text-align: justify"
              >
                {{ element.namebook }}
              </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="descriptionbook">
              <th
                mat-header-cell
                *matHeaderCellDef
                (click)="filter('descriptionbook')"
              >
                Descripción
                <mat-icon *ngIf="dsort == 'asc'" class="icon-display"
                  >arrow_downward</mat-icon
                >
                <mat-icon *ngIf="dsort == 'desc'" class="icon-display"
                  >arrow_upward</mat-icon
                >
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="width: 30%; text-align: justify"
              >
                {{ element.descriptionbook }}
              </td>
            </ng-container>

            <!-- Autor Column -->
            <ng-container matColumnDef="authorbook">
              <th
                mat-header-cell
                *matHeaderCellDef
                (click)="filter('authorbook')"
              >
                Autor
                <mat-icon *ngIf="asort == 'asc'" class="icon-display"
                  >arrow_downward</mat-icon
                >
                <mat-icon *ngIf="asort == 'desc'" class="icon-display"
                  >arrow_upward</mat-icon
                >
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                style="width: 15%; text-align: justify"
              >
                {{ element.authorbook }}
              </td>
            </ng-container>

            <!-- Fecha Publicacion Column -->
            <ng-container matColumnDef="datepublishbook">
              <th
                mat-header-cell
                *matHeaderCellDef
                (click)="filter('datepublishbook')"
              >
                Fecha Publicación
                <mat-icon *ngIf="dasort == 'asc'" class="icon-display"
                  >arrow_downward</mat-icon
                >
                <mat-icon *ngIf="dasort == 'desc'" class="icon-display"
                  >arrow_upward</mat-icon
                >
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.datepublishbook | date: "yyyy-MM-dd" }}
              </td>
            </ng-container>

            <!-- number Column -->
            <ng-container matColumnDef="numberbook">
              <th
                mat-header-cell
                *matHeaderCellDef
                (click)="filter('numberbook')"
              >
                N° Ejemplares
                <mat-icon *ngIf="nusort == 'asc'" class="icon-display"
                  >arrow_downward</mat-icon
                >
                <mat-icon *ngIf="nusort == 'desc'" class="icon-display"
                  >arrow_upward</mat-icon
                >
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.numberbook }}
              </td>
            </ng-container>

            <!-- Costo Column -->
            <ng-container matColumnDef="pricebook">
              <th
                mat-header-cell
                *matHeaderCellDef
                (click)="filter('pricebook')"
              >
                Costo
                <mat-icon *ngIf="psort == 'asc'" class="icon-display"
                  >arrow_downward</mat-icon
                >
                <mat-icon *ngIf="psort == 'desc'" class="icon-display"
                  >arrow_upward</mat-icon
                >
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.pricebook }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Accion</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="clickAddTodo(element)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  aria-label="Borrar Elemento"
                  (click)="deletebook(element.id)"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="bookmeta[0].totalItems"
            [pageSize]="bookmeta[0].itemsPerPage"
            [pageSizeOptions]="[5, 10, 20, 50]"
            (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>
